@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Poppins';
}


body {
    background-color: #000;
}

.main {
    background-image: url("bg.jpg");
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw) ;
    width: 100%;
}

.main .box {
    width: 100%;
    height: 90vh;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

nav img {
    width: 150px;
    color: rgb(229, 9, 20);
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.para {
    font-family: 'Open Sans';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 15px;
    padding: 0 30px;
}

.para> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.para> :nth-child(2) {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.para> :nth-child(3) {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: rgb(35, 35, 35);
}

.btn {
    padding: 3px 8px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: rgba(248, 243, 243, 0.342);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding: 9px 24px;
    font-size: 23px;
    border-radius: 4px;
    border: 2px solid rgb(229, 9, 20);
    cursor: pointer;
}

.main input {
    padding: 15px 150px 15px 13px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgba(23, 23, 23, 0.5);
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 9, 20);
    width: 100px;
    height: 40px;
    font-size: larger;
    border-radius: 4px;
    font-weight: bold;
}

.para-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first {
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.secimage {
    position: relative;
}

.secimage img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimage video {
    position: absolute;
    top: 51px;
    right: 2px;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.second {
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: left;
    color: rgb(255, 255, 255);
}

.second>div {
    display: flex;
    flex-direction: column;
}

.second>div :nth-child(1) pre {
    font-size: 48px;
    font-weight: bolder;
    /* padding-right: 400px; */
}

.second>div :nth-child(2) pre {
    font-size: 24px;
    font-weight: 400;
    padding-left: 103px;
}

.faq h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    font-size: 48px;
    font-weight: bolder;
}

.faqbox {
    display: flex;
    flex: column;
    justify-content: space-between;
    padding: 24px;
    color: rgb(255, 255, 255);
    margin: 24px auto;
    width: 60vw;
    background-color: rgb(45, 45, 45);
    cursor: pointer;
    font-size: 25px;
    transition: all 1s ease-out;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(255, 255, 255);
    padding: 23px 0px;
}

footer {
    color: rgb(255, 255, 255);
    max-width: 60vw;
    margin: auto;
}

.footer a{
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .para> :nth-child(1) {
        font-size: 32px;
    }

    .para> :nth-child(2) {
        font-size: 18px;
    }

    .para> :nth-child(3) {
        font-size: 18px;
    }

    .para-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}